.first .container {
  justify-content: space-between; }

.first {
  background: url("../img/first/intro-bg.jpg") center center/cover no-repeat;
  position: relative; }

.first__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.3;
  padding-bottom: 90px; }

.first__content-picture {
  flex-shrink: 0; }

.first__desc {
  padding-left: 15px; }

.title {
  font-size: 72px;
  color: #f9b43b;
  font-family: 'Gagalin', sans-serif;
  font-weight: 400; }

.title__first {
  padding-top: 100px; }

.first__subtitle {
  font-size: 65px;
  color: white;
  font-family: 'Lifehack', sans-serif;
  font-weight: 500;
  text-transform: lowercase;
  line-height: 1; }

.burger {
  max-width: 100%;
  max-height: 100%;
  padding-left: 40px; }
