.form__elem {
  display: flex; }

.form__column {
  flex: 1;
  margin-right: 20px; }
  .form__column:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-bottom: 30px; }

.form__block {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
  display: block; }
  .form__block:last-child {
    margin-right: 0; }

.form__input {
  background: #fff;
  border-radius: 3px;
  border: none;
  padding: 8px 21px;
  width: 100%; }
  .form__input--textarea {
    resize: none;
    height: 110px; }

.form__buttons {
  display: flex;
  padding-bottom: 20px; }

.form__radio, .form__checkbox {
  display: flex;
  align-items: center;
  margin-right: 20px; }

.form__radio-input, .form__checkbox-input {
  margin-right: 7px; }

.form__checkbox {
  padding-bottom: 20px; }
