.nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    display: flex;
    align-items: center;
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
    }

    &:after {
        content: "";
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 50%;
        display: block;
        margin-left: 15px;
    }

    &:last-child {
        &:after {
            display: none;
        }
    }
}

.nav__link {
    border-radius: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    
}


