.order {
  background: url("/img/order/order-bg.jpg") center center/cover no-repeat;
  color: #fff; }

.title__order {
  padding-top: 0; }

.order .container {
  justify-content: center; }

.order__box {
  display: flex;
  flex-direction: column;
  align-items: center; }

.form__block-title {
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300; }

.reset {
  background: transparent;
  border: none;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300; }
