.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  background: center center / cover no-repeat;
  position: relative;
  filter: grayscale(100%); }
  .reviews__item:hover .reviews__hover {
    opacity: 1; }

.reviews__hover {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(68, 70, 70, 0.5);
  padding: 50px 33px 19px 19px;
  opacity: 0;
  transition: opacity .3s; }

.reviews__title {
  font-family: 'Gagalin', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 30px; }

.reviews__text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 17px; }
