.team {
  background: url("/img/team/teambg.png") center center/cover no-repeat;
  color: #fff;
  display: flex;
  justify-content: flex-end; }

.team__wrapper {
  flex-basis: 50%;
  background: rgba(37, 39, 41, 0.5);
  display: flex; }

.team__inner {
  padding: 98px; }

.worker {
  padding-bottom: 15px; }

.worker__photo {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 17px; }

.worker__content {
  height: 0;
  overflow: hidden; }

.worker--active .worker__content {
  height: auto; }

.worker--active .worker__name-link {
  color: orange; }

.worker__content-wrapp {
  display: flex;
  align-items: center; }

.worker__name-link {
  font-family: 'Gagalin', sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none; }
  .worker__name-link::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    border: 5px solid transparent;
    border-top: 5px solid #f9b43b;
    margin-right: 0.625rem;
    transition: .5s; }

.worker__name-link--active::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  border: 5px solid transparent;
  border-top: 5px solid #f9b43b;
  margin-right: 0.625rem;
  transition: .5s;
  transform: rotate(180deg); }

.worker__desc {
  margin-left: 35px;
  font-size: 14px; }

.worker__head {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  padding-bottom: 10px; }

.worker__text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300; }
