html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.42;
    position: relative;
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    outline: none;
}

input {
    outline: none;
}